.heroFullWrapp {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  /* border: 2px solid red; */
  background: url("../../assets/Images/ItemComicBackground.jpg") top repeat;
  box-shadow: 0 0 90px #89000075;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 300px;
  /* border:2px solid green; */
  background: url("../../assets/Images/ItemComicBackgroundHeader.jpg") 100% 20%
    no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 30px #000000fc;
  border-radius: 5px;
}
header h1 {
  color: #fff;
  font-size: 6rem;
  margin-top: 0px;
  padding: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.heroHeaderImg {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 6px solid #000;
  box-shadow: 0 0 90px 10px black, 0 7px 30px #d70003;
  z-index: 50;
}

.heroHeaderImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 50px black;
  object-fit: fill;
}

.heroHeaderBack {
  color: white;
}

.heroFullDescWrapper {
  position: relative;
  background: #000000d9;
  padding: 10% 10% 6% 10%;
  color: #fff;
  font-size: 20px;
  z-index: 5;
  box-shadow: 0 10px 30px #000000fc;
  border-radius: 5px;
}
.heroFullDescWrapper p {
  font-size: 26px;
  color: #ffffffbd;
  margin-top: 70px;
  margin-bottom: 50px;
}

.heroFullDescWrapper a {
  font-size: 27px;
  padding: 14px 55px;
  cursor: pointer;
  text-decoration: none;
  width: 20%;
  margin: 8px auto;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #c70006 0%, #790000 100%);
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 61px #b60001bf, inset 0 0 5px transparent;
  transition: 0.2s all;
}

.heroFullDescWrapper a:hover {
  background: linear-gradient(180deg, #c70006 0%, #790000 100%);
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 61px #b60001bf, inset 0 0 5px transparent;
}
h1 {
  color: white;
}

.heroFullDescInfo {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 70px;
}
.heroFullDescInfoNumbers h1 {
  font-family: "Bangers", cursive;
  color: #a60103;
  letter-spacing: 0px;
  font-size: 40px;
}

.heroFullDescInfoNumbers h3 {
  font-size: 50px;
  margin: 0;
  color: #dbdbdb;
  font-weight: bold;
}

@media (max-width: 760px) {
  .heroFullWrapp {
    width: 90%;
    padding: 12px;
  }
  header h1 {
    color: white;
    padding: 2.4rem !important;
  }
  .heroHeaderImg {
    width: 195px;
    height: 195px;
  }
  .heroFullDescInfo {
    flex-direction: column;
  }
  .heroFullDescWrapper a {
    margin-bottom: 10px;
  }
}
